<mat-card *ngIf="page$ | async as page">
  <!-- Title -->
  <mat-card-title> {{ page.title }}</mat-card-title>
  <!---->

  <mat-card-subtitle>
    <!-- Updated date -->
    <span class="date">{{ page.created_at | date : 'yyyy/MM/dd' }}</span>
    <!---->

    <!-- Tags -->
    <ul class="tags">
      <li *ngFor="let tag of page.tags">
        <a [routerLink]="['/tags', tag]">{{ tag }}</a>
      </li>
    </ul>
    <!---->

    <br style="clear: both" />
  </mat-card-subtitle>

  <mat-card-content>
    <!-- Content -->
    <scully-content></scully-content>
    <!---->

    <br />

    <!-- Social buttons -->
    <app-share-button [title]="page.title" [url]="pageUrl"></app-share-button>
    <!---->
  </mat-card-content>
</mat-card>
<br style="clear: both" />
