// Article card
a mat-card {
  transition: box-shadow 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

a mat-card:hover {
  box-shadow: 0px 5px 6px #ccccccaa;
}

// Link of Article card
a,
a:visited mat-card {
  color: #111;
  text-decoration: none;
}
