<div class="filter-tag" *ngIf="filteredTagName">
  <mat-icon>tag</mat-icon>
  <!-- Tags -->
  <mat-chip-list aria-label="tag">
    <a *ngFor="let tagName of tags" [routerLink]="['/tags', tagName]">
      <mat-chip [color]="tagName == filteredTagName ? 'primary' : ''" [selected]="tagName == filteredTagName">
        {{ tagName }}
      </mat-chip>
    </a>
  </mat-chip-list>
  <!----->
</div>

<div class="article-cards" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutGap="2rem">
  <!-- Article cards-->
  <a [routerLink]="page.route" *ngFor="let page of links$ | async" fxFlex="33%" fxFlex.xs="100%">
    <mat-card>
      <!-- Title -->
      <mat-card-title> {{ page.title }} </mat-card-title>
      <!---->

      <mat-card-subtitle>
        <!-- Updated date -->
        <span class="date">{{ page?.created_at | date: 'yyyy/MM/dd' }}</span>
        <!---->

        <!-- Tags -->
        <ul class="tags">
          <li *ngFor="let tag of page?.tags">
            <a [routerLink]="['/tags', tag]">{{ tag }}</a>
          </li>
        </ul>
        <!---->

        <br style="clear: both" />
      </mat-card-subtitle>
    </mat-card>
  </a>
  <!---->
</div>
