// Tag list for filtering
.filter-tag {
  margin: 0 0 1rem 0;

  mat-icon {
    color: #555;
    vertical-align: text-bottom;
    line-height: 32px;
    margin-right: 1rem;
  }

  mat-chip-list {
    display: inline-block;

    mat-chip {
      cursor: pointer;
    }

    a {
      text-decoration: none;
    }
  }
}

// Query for filtering
.filter-query {
  margin: 0 0 1rem 0;
  color: #555;

  mat-icon {
    vertical-align: middle;
    margin-right: 2rem;
    margin-top: -2px;
  }

  .query {
    color: #333;
  }
}

// Article card
mat-card {
  position: relative;
  transition: box-shadow 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

mat-card:hover {
  box-shadow: 0px 5px 6px #ccccccaa;
}

mat-card a.overlay-link {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

mat-card .tags {
  position: relative;
  pointer-events: none;
}

mat-card .tags a {
  pointer-events: all;
  text-decoration: none;
}
