<div class="filter-tag" *ngIf="filter.tag">
  <mat-icon>tag</mat-icon>
  <!-- Tags -->
  <mat-chip-list aria-label="tag">
    <a *ngFor="let tagName of tags" [routerLink]="['/tags', tagName]">
      <mat-chip [color]="tagName == filter.tag ? 'primary' : ''" [selected]="tagName == filter.tag">
        {{ tagName }}
      </mat-chip>
    </a>
  </mat-chip-list>
  <!----->
</div>

<div class="filter-query" *ngIf="filter.query">
  <mat-icon>search</mat-icon>
  <span class="query">{{ filter.query }}</span> の検索結果
  <!----->
</div>

<div class="article-cards" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutGap="2rem">
  <!-- Article cards-->
  <ng-container *ngFor="let page of links$ | async as links">
    <mat-card fxFlex="33%" fxFlex.xs="100%">
      <!-- Link to article -->
      <a class="overlay-link" [routerLink]="page.route"></a>

      <!-- Title -->
      <mat-card-title> {{ page.title }}</mat-card-title>
      <!---->

      <mat-card-subtitle>
        <!-- Updated date -->
        <span class="date">{{ page?.created_at | date: 'yyyy/MM/dd' }}</span>
        <!---->

        <!-- Tags -->
        <ul class="tags">
          <li *ngFor="let tag of page?.tags">
            <a [routerLink]="['/tags', tag]">{{ tag }}</a>
          </li>
        </ul>
        <!---->

        <br style="clear: both" />
      </mat-card-subtitle>
    </mat-card>
  </ng-container>
  <!---->
</div>
