name: Test

on:
  - push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: master
      - name: Fetch articles from blog branch
        run: |
          git fetch
          git checkout origin/blog -- blog
          ls -l blog/
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: 'Test build'
        run: |
          npm run build:check
          npm run scully
